name: Release

on:
  push:
    tags:
      - 'v*.*.*' # Trigger when a tag matching v1.0.0 is pushed

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Get project version
        id: get_version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Rename shaded JAR
        run: |
          mv target/kc-rest-claim-mapper-${{ env.VERSION }}.jar target/kc-rest-claim-mapper-${{ env.VERSION }}.jar

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/kc-rest-claim-mapper-${{ env.VERSION }}.jar
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
